a {
    color: $text-cl;
    text-decoration: none;
    display: block;
}
img {
    display: block;
    margin: auto;
    max-width: 100%;
}
strong {
    font-family: bb;
}

.-lv1 {
    @include text(100px, b, 100px, $white-cl, none);
    font-weight: normal;
    margin: 0;
    a {
        @include text(100px, g, 100px, $white-cl, none);
    }
    @include tablet {
    }
    @include mobile {
    }
}

.button{
    width: 150px;
    // height: 36px;
    border-radius: 4px;
    background-color: $blue-button;
    text-align: center;
    margin: 0 auto;
    a{
        font-family: AV;
        color:white;
        text-transform: uppercase;
        margin: auto;
        padding: 10px;
        font-size: 11px;
    }
}
.cont-btn{
    display: flex;
    justify-content: center;
    margin: 0 auto;
                        a{

                            width: 200px;
                            height: 35px;
                            background-color: $white-cl;
                            border:1px solid black;
                            // padding: 12px 47px;
                            font-size: 11px;
                            font-family: arial;
                            font-weight: bold;
                            text-transform: uppercase;
                            display: block;
                            padding: 10px;
                            &:hover{
                                background-color: $blue-cl;
                                color:$white-cl;
                            }
                            text-align: center;
                            margin: 0 10px;
                        }
}
.arrow{
    
}

