* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    width: 100%;
    max-width: $max-width;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    @include text($fz-text, fmain, $lh-text, $text-cl, none);
    background: $white-cl;
    position: relative;
    @include custom-scrollbar();
    .mainwrapper {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    h1,h2,h3,h4,h5{
        padding-bottom: 12px;
        margin-bottom: 18px;
        margin-top: 20px;
    }
    .carousel-cell {
        width: 100%; /* full width */
        height: 700px; /* height of carousel */
        margin-right: 10px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .container{
        // height: 1360px;
       
        .cover{
            margin-top: 100px;
            .col-md-5{
                p{
                    margin-top: 18px;
                    letter-spacing: 0;
                    line-height: 30px;
                }
            }
            .left{
                padding-left: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                
            }
            .right{
                padding-right: 0;
            }
        }
        .col-md-10{
            margin-top: 42px;
            padding: 0;
        }
        .cover2{
            margin-top: 42px;
            display: flex;
            h2{
                margin-top: 20px;
            }
            .bt{
                p{
                    
                    line-height: 24px;
                }
            }
            .left{
                left: 0;  
                padding-left: 0; 
            }
            .right{
                right: 0;
                padding-right: 0;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    .bottom{

    }
    .header-fix{
        .logo{
            margin: 0 40px;
        }
        &-container{
            padding:0px 15px;
            margin: 0 auto;
            ul{
                li{
                    a{
                        // padding: 0px 40px;
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
    
    @include desktop {
        
    }
    @include tablet {
        
    }
    @include mobile {
        
    }
}
