* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    width: 100%;
    max-width: $max-width;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    @include text($fz-text, fmain, $lh-text, $text-cl, none);
    background: $white-cl;
    position: relative;
    @include custom-scrollbar();
    .mainwrapper {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    h1,h2,h3,h4,h5{
        padding-bottom: 12px;
        margin-bottom: 18px;
        margin-top: 20px;
        text-transform: uppercase;
    }
    .cover{
        margin-top: 120px;
        .col-md-6{
            p{
                margin-top: 18px;
                margin-bottom: 47px;
                line-height: 24px;
            }
        }
    }
    .left{
        padding-right: 15px;
        
        
    }
    .right{
        padding-left: 15px;
    }
    @include desktop {
        
    }
    @include tablet {
        
    }
    @include mobile {
        
    }
}
