* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
html,
body {
    width: 100%;
    max-width: $max-width;
    -webkit-font-smoothing: antialiased;
    margin: auto;
    @include text($fz-text, fmain, $lh-text, $text-cl, none);
    background: $white-cl;
    position: relative;
    @include custom-scrollbar();
    .mainwrapper {
        width: 100%;
        margin: auto;
        overflow: hidden;
    }
    h1,h2,h3,h4,h5{
        padding-bottom: 12px;
        margin-bottom: 18px;
        margin-top: 20px;
    }
    .carousel-cell {
        width: 100%; /* full width */
        height: 700px; /* height of carousel */
        margin-right: 10px;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .container{
        // height: 1360px;
        height: 100%;
        padding-left: 150px;
        padding-right: 150px;
        .cover{
            margin-top: 100px;
            display: flex;
            position: relative;
            .col-md-6{
                p{
                    margin-top: 18px;
                    margin-bottom: 91px;
                    line-height: 24px;
                }
            }
            .left{
                padding-right: 15px;
                
                
            }
            .right{
                padding-left: 15px;
            }
        }
        .col-12{
            margin-top: 42px;
        }
        .cover2{
            margin-top: 42px;
            display: flex;
            position: relative;
            .col-6{
                position: absolute;
                z-index: 9;
            }
            h2{
                margin-top: 20px;
            }
            .bt{
                p{
                    margin-top: 55px;
                    line-height: 24px;
                }
            }
            .left{
                left: 0;
                img{
                    padding-right: 15px;
                }
            }
            .right{
                right: 0;
                padding-left: 15px;
            }
        }
    }
    .bottom{
        position: relative;
        top: 222px;
    }
    .header-fix{
        &-container{
            margin: 0 250px;
            padding:10px 15px;
            ul{
                li{
                    padding: 0px 20px;
                }
            }
        }
    }
    
    @include desktop {
        
    }
    @include tablet {
        
    }
    @include mobile {
        
    }
}
