@keyframes tr {
    from{
        visibility:visible;
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
@keyframes in{
    from{
        visibility: visible;
        opacity: 1;
    }
    to{
        opacity: 1;
    }
}
@keyframes out{
    from{
        visibility: visible;
        opacity: 1;
    }
    to{
        visibility: hidden;
        opacity: 1;
    }
}
@keyframes load{
    from{
        transform: translateX(150%);
    }
    to{
        transform: translateX(0%);
    }
}
@include keyframes(topdown){
    0%{
        @include transform(translateY(-100px));
        opacity: 0;
        @include transition(1.5s);
    }
    100%{
        @include transform(translateY(-80px));
        opacity: 1;
        @include transition(1.5s);
    }
}
@keyframes loader{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
        animation:transform 2s;
    }
}