body{
    
    h1{
        display: none;
    }
    .homepage{
        main{
            
            img{
                width: 100%;
            }
            h1,h2,h3,h4,h5{
                text-transform: uppercase;
                font-weight: bold;
                font-family: AV;
                font-size: 12px;
            }
            .slider{
                position: relative;
                --fzTitle:80px;
                --fzText:11px;
                &-item{
                    position: relative;
                    &:hover{
                        .slider-item-text{
                            animation: none;
                        }
                    }
                    &-text{
                        text-align: center;
                        animation:tr 3s linear infinite,cubic-bezier(.11,.9,.82,.15);
                        
                        @include mid();
                        &:hover{
                            animation: none;
                        }
                        h2{
                            @include text(var(--fzTitle), EN, normal, $white-cl, uppercase);
                            letter-spacing: 4px;
                            margin-bottom: 20px;
                            position: relative;
                            padding-bottom: 9px;
                            font-weight: normal;
                            &::after{
                                content: "";
                                width: 770px;
                                position: absolute;
                                height: 1px;
                                background-color: #fff;
                                left: -100px;
                                bottom: 0;
                            }
                        }
                        p{
                            @include text(var(--fzText),arial,normal,$white-cl,uppercase);
                            letter-spacing: 1px;
                            margin-bottom: 20px;
                            margin-bottom: 62px;
                            font-weight: bold;
                        }
                        
                    }
                    img{
                        width: 100%;
                    }
                }
                &-menuall{
                    .overlay{
                        position: fixed;
                        z-index: 9;
                        background: black;
                        opacity: 0.5;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        display: none;
                    }
                    
                }
                &-menu-hidden{
                    width: 500px;
                    background-color: $blue-cl;
                    z-index: 99;
                    height: 100%;
                    position: fixed;
                    top: 0;
                    transform: translateX(-100%);
                    transition: transform 0.75s cubic-bezier(1, 0.63, 0, 0.85);
                    animation: out 1s ease-out forwards;
                    a{
                        color: $white-cl;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        font-family: ESB;
                    }
                    .ti{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 50px 35px 135px 20px;
                        &-ri{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            img{
                                width: 30px;
                                height: 30px;
                                background-color: transparent;
                                margin: 0 10px;
                            }
                        }
                    }
                    .sli{
                        display: flex;
                        // justify-content: space-between;
                        &-tit{
                            width: 100%;
                            p{
                                color: white;
                                text-transform: uppercase;
                                font-size: 16px;
                                font-weight: bold;
                                margin: 0 25px;
                                padding-left: 35px;
                                opacity: 0.5;
                            }
                            &-a{
                                position: relative;
                                margin:30px 0;
                                margin: 0 25px;
                                opacity: 0.5;
                                
                                &::after{
                                    position: absolute;
                                    content: "";
                                    width:0%;
                                    background-color: $white-cl;
                                    height: 1px;
                                    top: 52px;
                                }
                                &:hover{
                                    opacity: 1;
                                    a{
                                        transform: translateX(10%);
                                        transition:transform 1s ;
                                        font-size: 20px;
                                        
                                    }
                                }
                                &:hover::after{
                                    width: 100%;
                                    transition-property: width;
                                    transition-duration: 1s;
                                    
                                }
                            }
                            a{
                                font-size: 18px;
                                text-transform: uppercase;
                                padding-bottom: 35px;
                                padding-top: 20px;
                                padding-left: 35px;
                                transform: translateX(0%);
                                transition:transform 1s ;
                                font-size: 16px;
                            }
                        }
                        &-icon{
                            padding-right: 25px;
                            position: relative;
                            padding-left: 30px;
                            span{
                                position: absolute;
                                background-color: $white-cl;
                                width: 80px;
                                height: 1px;
                                left: 65%;
                                transform: translateX(-53%);
                                
                            }
                            img{
                                width: 40px;
                                height: 40px;
                                margin: 0 20px 22px 25px;
                                
                            }
                            &-x{
                                width: 33px;
                                height: 33px;
                                top: 25%;
                                left: 75%;
                                transform: translate(-97%, -50%);
                                /* padding-top: 30px; */
                                position: absolute;
                                cursor: pointer;
                                &:hover{
                                    opacity: 0.5;
                                }
                                span{
                                    position: absolute;
                                    width: 50px;
                                    cursor: pointer;
                                    top: 16px;
                                    left: -8px;
                                    
                                    &:nth-child(1){
                                        transform: rotate(135deg);
                                    }
                                    &:nth-child(2){
                                        transform: rotate(-135deg);
                                    }
                                }
                            }
                        }
                    }
                }
                .open{
                    transform: translate(0);
                    transition: transform 0.75s cubic-bezier(1, 0.63, 0, 0.85);
                    animation: in 1s ease-in forwards;
                }
                &-btme{
                    width: 0px;
                    position: absolute;
                    top: 56%;
                    color: $blue-cl;
                    left: 25px;
                    p{
                        text-transform: uppercase;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
                &-menu{
                    background-color: $blue-cl;
                    position: absolute;
                    z-index: 10;
                    left: -40px;
                    top: 50%;
                    transform: translate(0,-50%);
                    width: 180px;
                    height: 160px;
                    cursor: pointer;
                    display: flex;
                    &-d{
                        left: 60%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        -webkit-transform: translate(-50%, -50%);
                        -o-transform: translate(-50%, -50%);
                        position: absolute;
                        
                    }
                    &-icon{
                        width: 40px;
                        height: 45px;
                        position: relative;
                        display: block;
                        span{
                            position: absolute;
                            margin-bottom: 3px;
                            height: 1px;
                            width: 100%;
                            background: #bea67c;
                            border-radius: 9px;
                            opacity: 1;
                            left: 0;
                            transform: rotate(0deg);
                            &:nth-child(1){
                                top: 10px;
                            }
                            &:nth-child(2){
                                top: 20px;
                            }
                            &:nth-child(3){
                                top: 30px;
                            }
                        }
                    }
                    img{
                        width: 40px;
                        height: 40px;
                    }
                    &:hover{
                        width: 250px;
                        transition-property: width;
                        transition-duration: 0.75s;
                        background-color: $white-cl;
                        left: 0px;
                        margin-left: -15px;
                        padding-left: 15px;
                        .slider-btme{
                            color: black;
                            margin-left: 15px;
                            transition: 0.75s;
                        }
                        .slider-menu-d{
                            img{
                                filter: brightness(0);
                            }
                        }
                        .slider-menu-icon{
                            span{
                                filter: brightness(0);
                                &:nth-child(1){
                                    
                                    top: 20px;
                                    transform: translateX(-100%);
                                    transition: transform 0.5s;
                                }
                                &:nth-child(3){
                                    transform: scale(1.5);
                                    transition: transform 0.1s;
                                }
                                &:nth-child(3){
                                    left: 0px;
                                    top: 20px;
                                    transform: translateX(100%);
                                    transition: transform 0.5s;
                                }
                            }
                        }
                    }
                    
                }
                &-bottom{
                    .dotted{
                        display: none;
                    }
                    img{
                        width: 23px;
                        height: 35px;
                    }
                    p{
                        padding-top: 14px;
                        padding-bottom: 22px;
                        text-transform: uppercase;
                        font-size: 11px;
                    }
                    position: absolute;
                    bottom: -5px;
                    left: 50%;
                    transform: translate(-50%);
                    &::before{
                        content: "";
                        background-color: black;
                        width: 1px;
                        height: 120px;
                        position: absolute;
                        left: 50%;
                        top: -50%;
                        transform: translate(-50%, -71%);
                        @include animation(topdown 1.5s ease forwards infinite);
                    }
                }
            }
            .container{
                max-width: 1030px;
                .cover{
                    letter-spacing: 1px;
                    p{
                        font-size: 13px;
                    }
                    .right{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .im{
                            position: relative;
                            cursor: pointer;
                            overflow: hidden;
                            .a{
                                transform: scale(1);
                                    transition: 1s;
                            }
                            a{
                                transform: scale(1);
                                transition: transform 1s ease;
                                
                            }
                            &::after{
                                background: rgba(120,88,28,.9);
                                content: "";
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                opacity: 0;
                                transform: scale(.8);
                                -webkit-transform: scale(.8);
                                -o-transform: scale(.8);
                                transition: all .6s;
                                -webkit-transition: all .6s;
                                -o-transition: all .6s;
                            }
                            &:hover::after{
                                width: 100%;
                                height: 100%;
                                opacity: 1;
                                transform: scale(1);
                                
                            }
                            &:hover{
                                .content{
                                    opacity: 1;
                                    // @include mid();
                                    transform: scale(1);
                                    transition: transform .75s;
                                    
                                    // transform: scaleX(1);
                                    // transform: scale(1);
                                }
                                .a{
                                    transform: scale(1.1);
                                }
                            }
                            .content{
                                position: absolute;
                                top: 0;
                                color: $white-cl;
                                width: 300px;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                opacity: 0;
                                z-index: 2;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform: scale(.8);
                                -webkit-transform: scale(.8);
                                -o-transform: scale(.8);
                                transition: all .6s;
                                -webkit-transition: all .6s;
                                -o-transition: all .6s;
                                img{
                                    width: 33px;
                                    height: 33px;
                                    filter: brightness(10);
                                    margin: 10px auto;
                                }
                                p{
                                    font-size: 14px;
                                    font-family: arial;
                                }
                                a{
                                    color: $white-cl;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    p{
                                        margin: 0;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        padding: 0 10px;
                                    }
                                    img{
                                        margin: 5px 0;
                                        width: 20px;
                                    }
                                }

                            }
                        }
                    }
                    .left{
                        .im{
                            position: relative;
                            cursor: pointer;
                            overflow: hidden;
                            .a{
                                transform: scale(1);
                                    transition: 1s;
                            }
                            a{
                                transform: scale(1);
                                transition: transform 1s ease;
                                
                            }
                            &::after{
                                background: rgba(20,75,100,.9);
                                content: "";
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                opacity: 0;
                                transform: scale(.8);
                                -webkit-transform: scale(.8);
                                -o-transform: scale(.8);
                                transition: all .6s;
                                -webkit-transition: all .6s;
                                -o-transition: all .6s;
                                
                            }
                            &:hover::after{
                                width: 100%;
                                height: 100%;
                                opacity: 1;
                                transform: scale(1);
                                
                            }
                            &:hover{
                                .content{
                                    opacity: 1;
                                    // @include mid();
                                    transform: scale(1);
                                    transition: transform .75s;
                                    
                                    // transform: scaleX(1);
                                    // transform: scale(1);
                                }
                                .a{
                                    transform: scale(1.1);
                                }
                            }
                            .content{
                                position: absolute;
                                top: 0;
                                color: $white-cl;
                                width: 300px;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                opacity: 0;
                                z-index: 2;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform: scale(.8);
                                -webkit-transform: scale(.8);
                                -o-transform: scale(.8);
                                transition: all .6s;
                                -webkit-transition: all .6s;
                                -o-transition: all .6s;
                                img{
                                    width: 33px;
                                    height: 33px;
                                    filter: brightness(10);
                                    margin: 10px auto;
                                }
                                p{
                                    font-size: 14px;
                                    font-family: arial;
                                }
                                a{
                                    color: $white-cl;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    p{
                                        margin: 0;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        padding: 0 10px;
                                    }
                                    img{
                                        margin: 5px 0;
                                        width: 20px;
                                    }
                                }

                            }
                        }
                        // .le1{
                        //     content: "";
                        //         position: absolute;
                        //         background: rgba(20,75,100,.9);
                        // }
                    }
                }
                .col-md-10{
                    .im{
                        position: relative;
                        cursor: pointer;
                        overflow: hidden;
                        .a{
                            transform: scale(1);
                                transition: 1s;
                        }
                        a{
                            transform: scale(1);
                            transition: transform 1s ease;
                            
                        }
                        &::after{
                            
                            background: rgba(20,75,100,.9);
                            content: "";
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                            opacity: 0;
                            transform: scale(.8);
                            -webkit-transform: scale(.8);
                            -o-transform: scale(.8);
                            transition: all .6s;
                            -webkit-transition: all .6s;
                            -o-transition: all .6s;
                        }
                        &:hover::after{
                            width: 100%;
                            height: 100%;
                            opacity: 1;
                            transform: scale(1);
                            
                        }
                        &:hover{
                            .content{
                                opacity: 1;
                                // @include mid();
                                transform: scale(1);
                                transition: transform .75s;
                                
                                // transform: scaleX(1);
                                // transform: scale(1);
                            }
                            .a{
                                transform: scale(1.1);
                            }
                        }
                        .content{
                            position: absolute;
                            top: 0;
                            color: $white-cl;
                            width: 300px;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            opacity: 0;
                            z-index: 2;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transform: scale(.8);
                            -webkit-transform: scale(.8);
                            -o-transform: scale(.8);
                            transition: all .6s;
                            -webkit-transition: all .6s;
                            -o-transition: all .6s;
                            img{
                                width: 33px;
                                height: 33px;
                                filter: brightness(10);
                                margin: 10px auto;
                            }
                            p{
                                font-size: 14px;
                                font-family: arial;
                            }
                            a{
                                color: $white-cl;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                p{
                                    margin: 0;
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    padding: 0 10px;
                                }
                                img{
                                    margin: 5px 0;
                                    width: 20px;
                                }
                            }

                        }
                    }
                }
                .cover2{
                    letter-spacing: 1px;
                    z-index: 9;
                    // .col-md-5{
                    //     img{
                    //         position: absolute;
                    //         z-index: 10;
                    //     }
                    // }
                    margin-bottom: -337px;
                    .right{
                        .im{
                            position: relative;
                            cursor: pointer;
                            overflow: hidden;
                            .a{
                                transform: scale(1);
                                    transition: 1s;
                            }
                            a{
                                transform: scale(1);
                                transition: transform 1s ease;
                                
                            }
                            &::after{
                                
                                background: rgba(20,75,100,.9);
                                content: "";
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                opacity: 0;
                                transform: scale(.8);
                                -webkit-transform: scale(.8);
                                -o-transform: scale(.8);
                                transition: all .6s;
                                -webkit-transition: all .6s;
                                -o-transition: all .6s;
                            }
                            &:hover::after{
                                width: 100%;
                                height: 100%;
                                opacity: 1;
                                transform: scale(1);
                                
                            }
                            &:hover{
                                .content{
                                    opacity: 1;
                                    // @include mid();
                                    transform: scale(1);
                                    transition: transform .75s;
                                    
                                    // transform: scaleX(1);
                                    // transform: scale(1);
                                }
                                .a{
                                    transform: scale(1.1);
                                }
                            }
                            .content{
                                position: absolute;
                                top: 0;
                                color: $white-cl;
                                width: 300px;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                opacity: 0;
                                z-index: 2;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform: scale(.8);
                                -webkit-transform: scale(.8);
                                -o-transform: scale(.8);
                                transition: all .6s;
                                -webkit-transition: all .6s;
                                -o-transition: all .6s;
                                img{
                                    width: 33px;
                                    height: 33px;
                                    filter: brightness(10);
                                    margin: 10px auto;
                                }
                                p{
                                    font-size: 14px;
                                    font-family: arial;
                                }
                                a{
                                    color: $white-cl;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    p{
                                        margin: 0;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        padding: 0 10px;
                                    }
                                    img{
                                        margin: 5px 0;
                                        width: 20px;
                                    }
                                }

                            }
                        }
                        img{
                            margin-right: 30px;
                        }
                        .col-md-11{
                            padding: 30px 0 0 0;
                            p{
                                color:$white-cl;
                            text-align: right;
                            font-family: ESBI;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 30px;
                            }
                        }
                    }
                    .left{
                        .im{
                            position: relative;
                            cursor: pointer;
                            overflow: hidden;
                            .a{
                                transform: scale(1);
                                    transition: 1s;
                            }
                            a{
                                transform: scale(1);
                                transition: transform 1s ease;
                                
                            }
                            &::after{
                                
                                background: rgba(120,88,28,.9);
                                content: "";
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: 1;
                                opacity: 0;
                                transform: scale(.8);
                                -webkit-transform: scale(.8);
                                -o-transform: scale(.8);
                                transition: all .6s;
                                -webkit-transition: all .6s;
                                -o-transition: all .6s;
                            }
                            &:hover::after{
                                width: 100%;
                                height: 100%;
                                opacity: 1;
                                transform: scale(1);
                                
                            }
                            &:hover{
                                .content{
                                    opacity: 1;
                                    // @include mid();
                                    transform: scale(1);
                                    transition: transform .75s;
                                    
                                    // transform: scaleX(1);
                                    // transform: scale(1);
                                }
                                .a{
                                    transform: scale(1.1);
                                }
                            }
                            .content{
                                position: absolute;
                                top: 0;
                                color: $white-cl;
                                width: 300px;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                opacity: 0;
                                z-index: 2;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transform: scale(.8);
                                -webkit-transform: scale(.8);
                                -o-transform: scale(.8);
                                transition: all .6s;
                                -webkit-transition: all .6s;
                                -o-transition: all .6s;
                                img{
                                    width: 33px;
                                    height: 33px;
                                    filter: brightness(10);
                                    margin: 10px auto;
                                }
                                p{
                                    font-size: 14px;
                                    font-family: arial;
                                }
                                a{
                                    color: $white-cl;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    p{
                                        margin: 0;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        padding: 0 10px;
                                    }
                                    img{
                                        margin: 5px 0;
                                        width: 20px;
                                    }
                                }

                            }
                        }
                    }
                    // .bt{
                    //     p{
                    //         text-align: right;
                    //         position: absolute;
                    //         z-index: 9;
                    //         bottom: -490px;
                    //         color: white;
                    //         font-size: 13px;
                    //     }
                        
                    // }
                    // .col-6{
                    //     img{
                    //         position: absolute;
                    //         z-index: 9;
                    //     }
                    // }
                }
            }
            .affter{
                width: 100%;
            }
            .header-fix{
                height: 60px;
                background-color: black;
                justify-content: space-between;
                display: none;
                &-container{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .nav-menu-span{
                        display: none;
                    }
                    .nav-menu{
                        height: 100%;
                        a{
                            font-size: 12px;
                            font-family: AV;
                            text-transform: uppercase;
                        }
                        ul{
                            display: flex;
                            height: 100%;
                            li{
                                height: 100%;
                                opacity: 0.5;
                                position: relative;
                                &:hover{
                                    opacity: 1;
                                    transition: 0.5s;
                                }
                                &:hover::before{
                                    opacity: 1;
                                    transform: scaleX(1);
                                    transition: 0.5s;
                                }
                                a{
                                    color:$white-cl;
                                    height: 100%;
    
                                }
                                &::before{
                                    content: "";
                                    position: absolute;
                                    background-color: #fff;
                                    width: 100%;
                                    height: 2px;
                                    bottom: 15px;
                                    opacity: 0;
                                    transform: scaleX(0.2);
                                    transition: 0.5s;
                                }
                            }
                            .ac{
                                opacity: 1;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    background-color: #fff;
                                    width: 100%;
                                    height: 2px;
                                    bottom: 15px;
                                    opacity: 1;
                                    transform: scale(1);
                                }
                            }
                        }
                        
                    }
                    .logo{
                        width: 40px;
                        height: 40px;
                        filter: brightness(9);
                    }
                }
                
            }
            .fix{
                display: block;
                position: fixed;
                z-index: 9;
                top: 0;
                left: 0;
                right: 0;
            }
            .bottom{
                
                img{
                    width: 100%;
                }
            }
            .btt{
                display: none;
                &-btop{
                    position: fixed;
                    background-color: rgba(20,75,100,0.9);
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    bottom: 0;
                    right: 0;
                    margin: 15px 15px;
                    z-index: 999;
                    .iconback{
                        position: relative;
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        @include mid();
                        span{
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            border-radius: 5px;
                            background-color: #e4c113;
                            &:nth-child(1){
                                transform: rotate(45deg);
                                top: 5px;
                                right: -4px;
                            }
                            &:nth-child(2){
                                transform: rotate(-45deg);
                                top: 15px;
                                left: -13px;
                            
                            }
                        }
                        // width: 30px;
                        // height: 20px;
                        
                        // display: block;
                        // @include mid();
                        // img{
                        //     padding: 5px;
                        //     transform: rotate(270deg);
                        // }
                    }
                }
            }
        }
    }
    .loading{
        width: 100%;
        height: 100vh;
        background-color: white;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999999999;
        .load{  
            width: 40px;
            height: 3px;
            background-color: #000;
            border: 2px solid #000;
            
            animation: loader 1s linear infinite;
            transition: 2s;
        }
    }
}


@include tablet(){
    body{
        

        .carousel-cell {
            width: 100%; /* full width */
            height: 583px; /* height of carousel */
            margin-right: 10px;
            img{
                // height: 100%;
                width: 100%;
                height: 583px;
            }
        }
        .homepage{
            
            main{
                .slider{
                   

                    &-item{
                        &-text{
                      
                            h2{
                                font-size: 60px;
                            }
                        }
                    }
                }
                .container{
                    
                    .cover{
                        p{
                            line-height: normal;
                        }
                    }
                    .cover2{
                        margin-bottom: -210px;
                        .right{
                            .col-md-11{
                                p{
                                    line-height: normal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@include mobile(){
    body{
        .carousel-cell {
            width: 100%; /* full width */
            height: 100%; /* height of carousel */
            margin-right: 10px;
            overflow: hidden;
            img{
                // height: 100%;
                width: 100%;
                height: 234px;
            }
        }
        .flickity-viewport{
            height: 435px;
        }
        .homepage{
            
            main{
                .slider{
                    margin-top: 45px;

                    &-item{
                        &-text{
                            animation: none;
                            top: 0;
                            left: 0;
                            transform: none;
                            position: relative;
                            h2{
                                font-size: 20px;
                                color: black;
                                &:after{
                                    background-color: black;
                                }
                            }
                            p{
                                font-size: 12px;
                                color: black;
                            }
                            .button{
                                a{
                                    padding: 0px;
                                }
                            }
                        }
                    }
                    &-bottom{
                        display: none;
                    }
                    &-menu{
                        display: none;
                        &-hidden{
                            width: 100%;
                            .ti{
                                margin: 50px 5px 8px 14px;
                            }
                            .sli{
                                &-icon{
                                    img{
                                        
                                        margin: 0 20px 22px 15px;
                                    }
                                }
                                &-tit{
                                    p{
                                        padding-left: 0;
                                    }
                                   
                                    &-a{
                                        a{
                                            font-size: 16px;
                                            padding-left: 0;
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }
                }
                .container{
                    .row{
                        .col-md-10{
                            margin-top: 0;
                        }
                        .im{
                            a{
                                img{
                                    height: 250px;
                                }
                            }
                        }
                    }
                    .cover{
                        margin-top: 0;
                        p{
                            line-height: normal;
                            text-align: center;
                            font-size: 12px;
                        }
                        .left{
                            padding-left: 15px;
                        }
                        .right{
                            padding-right: 15px;
                        }
                    }
                    .col-md-10{
                        padding: 0 15px;
                    }
                    .cover2{
                        margin-bottom: -115px;
                        margin-top: 0;
                        .left{
                            padding-left: 15px;
                        }
                        .right{
                            padding-right: 15px;
                            .col-md-11{
                                p{
                                    line-height: normal;
                                }
                            }
                            .col-md-11{
                                p{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
                .header-fix{
                    background-color: $blue-cl;
                    display: block;
                    width: 100%;
                    position: fixed;
                    top: 0;
                    z-index: 999;
                    height: auto;
                    &-container{
                        justify-content: space-between;
                        .nav-menu{
                            display: none;
                            
                        }
                        .logo{
                            width: 30px;
                            height: 30px;
                            margin: 0;
                            filter: brightness(1);
                        }
                        .nav-menu-span{
                            display: block;
                            width: 35px;
                            height: 45px;
                            position: relative;
                            transition: .5s ease-in-out;
                            overflow: hidden;
                            cursor: pointer;
                            span{
                                position: absolute;
                                margin-bottom: 3px;
                                height: 2px;
                                width: 100%;
                                background: $white-cl;
                                border-radius: 9px;
                                opacity: 1;
                                left: 0;
                                transform: rotate(0deg);
                                transition: 0.5s ease-in-out;
                                &:nth-child(1){
                                    top: 13px;
                                }
                                &:nth-child(2){
                                    top: 20px;
                                }
                                &:nth-child(3){
                                    top: 28px;
                                }
                            }
                        }
                        .open{
                            span{
                                transition: 0.5s;
                                &:nth-child(1){
                                    
                                    margin-left: 16px;
                                }
                                &:nth-child(2){
                                    
                                    margin-left: 6px;
                                }
                                &:nth-child(3){
                                    
                                    margin-left: 24px;
                                }
                            }
                        }
                    }
                }
                .btt{
                    display: block;
                }
            }
        }
    }
}